<h1>Tin tốt!</h1>

<p>Sản phẩm <a href="<%= product_detail_url(id: @product.id, slug: @product.slug) %>"><%= @product.name %></a> đã có hàng trở lại.</p>

<p>Hủy đăng ký nhận thông báo về sản phẩm này: <%= link_to "Hủy", unsubscribe_url(token: params[:subscriber].generate_token_for(:unsubscribe)) %></p>
